# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\三个\springboot+vue小区物业管理系统\vue_wuye\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
